{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Spiderman</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi natus, accusantium repudiandae quas aperiam soluta perferendis dignissimos molestiae, nostrum minus beatae! Eius adipisci molestiae cum qui impedit dolorum officiis id.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/spiderman.png" class="img-thumbnail">
    </div>
</div>


{{> footer }}   